@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&family=Varela+Round&display=swap');
button, h1 {
    font-family: 'Varela Round', sans-serif;
}
body {
    text-align: center;
    background-color: #ebeced;
    margin: 0;
    padding: 0;
}
header {
    font-size: 0.75vw;
    width: 100%;
    padding: 0.5vw;
    background-color: #b6d1fc;
    color: #444b57;
    position: fixed;
    top: 0;
}
h1:nth-child(1) {
    float: left;
    padding-left: 0.5vw;
}
h1:nth-child(2) {
    float: right;
    padding-right: 1.5vw;
}
#formula-screen, #calculator-buttons {
    margin: auto;
}
#formula-screen {
    margin-top: 7.5vw;
    min-height: 0.5vw;
    width: 60%;
    font-size: 4vw;
    background-color: #fafbfc; 
    border: 1px solid darkblue;
}
#formula-screen p {
    text-align: right;
    padding: 0 0.75vw;
    font-family: 'STIX Two Text', serif;
    white-space: nowrap;
}
#calculator-buttons {
    margin: 2vw auto;
    display: flexbox;
    flex-direction: row;
    align-items: center;
    max-width: 60%;
}
#calculator-buttons button {
    min-width: 16%;
    font-size: 2vw;
    min-height: 6.5vw;
}
#calculator-buttons .large {
    min-width: 32%;
}
.imp2 {
    background-color: #34a1eb;
}
.imp {
    background-color: #fca656;
}
input {
    border: none;
    font-family: 'STIX Two Text', serif;
    background-color: transparent;
    height: 10%;
    width: 2.5%;
    font-size: 3vw;
}
.sqrt {
    height: 4vw;
    font-size: 4vw;
}